.bordered, .bordered div{
    border: 1px solid red;
}
#Layer3 div{
    overflow:hidden;
}
#Layer_0 div, #Layer_1 div,#Layer_2 div,#Layer_3 div,#Layer_4 div{
    border-right:1px #cccccc solid;overflow:hidden;
}
#channelList {
    height: 236px;
    left: 156px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 325px;
    width: 219px;
}

.channelList {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: bold;
    height: 48px;
    margin-left: 13px;
    width: 234px;
    overflow: hidden;
}

.channelMark {
    border: 0 none;
    height: 29px;
    margin: 0 6px 0 4px;
    position: relative;
    top: 6px;
    width: 29px;
}
#testLogger{
    position:absolute;
    right: 80px;
    top: 60px;
    font-size: 20px;
    line-height: 26px;
    width: 400px;
    height: 400px;
    border:2px solid #4499FF;
}
